
<h1> Quotes </h1>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Quote</th>
      <th>Author</th>
      <!-- <th>Image</th> -->
    </tr>
  </thead>

  <tbody>
  	  <% @quotes.each do |quote| %>

      <tr>
        <td><%= quote.quote %></td>
        <td><%= quote.author %></td>
        <!-- <td><%= quote.image %></td> -->
     

        <td><%= button_to 'Edit', edit_quote_path(quote), :method => :get %></td>
        <td><%= button_to 'Delete', quote, :method => :get , method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>




<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to "New Quote", new_quote_path %></button>
<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to 'Wanna see a random quote?', 'http://localhost:3000' %></button>

