

<h2>Quote</h2>
  <%= @quote.id %>

<p>
  <strong>Quote:</strong>
  <%= @quote.quote %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @quote.author %>
</p>

<p>
  <strong>Image:</strong>
  <%= @quote.image %>
</p>



   	 
 <%= link_to 'Back', quotes_path %>





